# CURSO DE FUNDAMENTOS DE PYTHON  
## Base de Datos con **MySQL** desde Python

**Objetivos**
- Conectar a MySQL con `mysql-connector-python` (o `pymysql` como alternativa).
- Crear base, tablas y realizar **CRUD** con consultas **parametrizadas** (`%s`).
- Usar **transacciones**, manejo de **excepciones** y **pandas** para análisis.

> **Requisitos previos**: tener un servidor MySQL accesible y un usuario con permisos de `CREATE DATABASE`.

### 0) Instalación de dependencias

In [ ]:
# Ejecuta esta celda la primera vez (puede tardar).
# Si prefieres PyMySQL, usa: !pip install pymysql
#!pip install mysql-connector-python
#importar mysql.connector

### 1) Conexión

In [ ]:
#hacer la conexión a la base de datos mostrar un mensaje de error si no se puede conectar

Conexión MySQL exitosa.

### 2) Crear base de datos y usarla

In [ ]:
#crear una base de datos productosDB y usarla y mostrar un mensaje de error si no se puede crear o usar

Base de datos productosDB creada y seleccionada.

### 3) Crear tabla (InnoDB)

In [ ]:
#crear una tabla productos y mostrar un mensaje de error si no se puede crear

Tabla productos creada.

### 4) INSERT parametrizado

In [ ]:
#insertar datos desde una lista de tuplas y mostrar un mensaje de error si no se pueden insertar

6 registros insertados en la tabla productos.

### 5) SELECT, UPDATE, DELETE

In [ ]:
#seleccionar datos y mostrarlos

(1, 'BALON', 20.0, 'DEPORTES')
(2, 'ZAPATILLAS', 50.0, 'DEPORTES')
(3, 'CAMISETA', 15.0, 'DEPORTES')
(4, 'JARRA', 10.0, 'COCINA')
(5, 'CUCHILLO', 25.0, 'COCINA')
(6, 'TENEDOR', 5.0, 'COCINA')

In [ ]:
#Actualizar datos y mostrar un mensaje de error si no se pueden actualizar

3 registros actualizados en la tabla productos.

### 7) Integración con `pandas` (opcional)

In [ ]:
# Si no tienes pandas: !pip install pandas

   id nombre_articulo  precio   seccion
0   1           BALON    22.0  DEPORTES
1   2      ZAPATILLAS    55.0  DEPORTES
2   3        CAMISETA    16.5  DEPORTES
3   4           JARRA    10.0    COCINA
4   5        CUCHILLO    25.0    COCINA
5   6         TENEDOR     5.0    COCINA

### 8) Cierre

In [ ]:
#Cierrar cursor y conexión

### ✅ Retos propuestos (ejecutar si tienes conexión exitosa)
- Crear tabla clientes
- Crear tabla ventas 
- Insertar datos por inputs a las diferentes tablas